body {
    margin: 0;
    padding: 0;
    font-size: 2em;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.head-title {
    text-align: center;
}

.products {
    display: grid;
    gap: 15px;
}


.search {
    border: 2px solid gray;
    border-radius: 12px;
    padding: 5px;
    display: inline;
    background-image: url(bilder/search.png);
    background-repeat: no-repeat;
    background-position: 4px;
    padding-left: 25px;

}

.NavList {
    
    margin-top: 10px;
    
}

.hide-on-mobile {
    display: none;
}

.nav-list-item {
    a {
        text-decoration: none;
    }
}

.product {
    position: relative;
}

.product-icon {
    right: 20px;
    bottom: 70px;
    position: absolute;
    width: 25px;
    height: 25px;
}
.new-icon {
    position: absolute;
    top: 20px;
    left: 20px;
}

.product-pic {
    width: 100%;
    height: auto;
}

.head {
    display: flex;
    flex-direction: column;
    border: solid;
    margin-bottom: 20px;
    padding: 10px;
}

.head-image {
    width: 100%;
}

.wholeHead {
    display: flex;
    flex-direction: row;
}

.searchAndIcons {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto 0 auto 20px;
}

.search {
    height: 30px;
    width: 100%;
    max-width: 400px;
    margin-right: 10px;
}

.headIcons {
    display: flex;
    gap: 10px;
    margin-right: 0;
    margin-left: auto;

    img {
        height: 30px;
    }
}

.icon {
    width: 300px;
}

.small-footer {
    display: none;
}

header {
    padding: 20px;
}

main {
    padding: 20px;
}





@media (max-width: 640px) {
    .mid {
        position: relative;
        display: block;
        font-size: x-large;
    }

    li {
        margin-bottom: 3px;
    }

    .icon {
        width: 100%;
    }

    .wholeHead {
        flex-direction: column;
    }

    .search {
        height: 35px;
        width: 100%;
        max-width: 400px;
    }

    .headIcons {
        img {
            height: 35px;
        }
    }

    .searchAndIcons {
        margin-top: 10px;
        margin-left: 0;
    }

    .small-footer {
        display: block;
    }

    .normal-footer {
        display: none;
        list-style-type: none;
    }
    .info {
        display: flex;
        width: 100%;
        margin-top: 10px;
    
        p{
            margin: 0;
            margin-left: 10px;
        }
    }
    .loremPic {
        width:100;
        height: auto;
    }
    .info-cart {
        h2 {
            font-size: large;
            margin-top: 10px;
        }
        span {
            font-family: monospace;           
        }
        p {
            font-weight: 500;
            margin-top: 10px;
        }
    }
    .head-position {
        position: relative;
    }
    
    
    
    .put {
        margin-top: 15px;
        width: 100%; 
    }

    
    .liknande {
        display: none;
        
    }
    .img-slide-section {
        display: none;
    }
    .head-image {
        width: 100%;
    }
    .first {
        width: 100%;
    }
    .last {
        width: 100%;
    }
    .email {
        width: 100%;
    }
    table {
        display: none;
    }
    .color {
        width: 100;
       
    }
    .svart {
        border: solid;
        border-radius: 10px;
        margin-bottom: 10px;
        padding-top: 15px;
        display: flex;
        grid-template-rows: repeat(2, 1fr);
        flex-direction: row;
    }
    
       .vit {
        border: solid;
        border-radius: 10px;
        margin-bottom: 10px;
        padding-top: 15px;
        display: flex;
        width: 100%;
        
    }


}

@media (min-width: 640px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }

    .mid {
        position: relative;
        display: block;
        font-size: large;
    }

    li {
        display: inline;
        margin-right: 5px;
   }
    .info {
        display: flex;
        width: 50%;
        margin-top: 20px;
        align-items: center;
    
        p{
            margin: 0;
            margin-left: 10px;
        
        }
    }
    .All-info {
       display: flex;
       width:100%;
       flex-wrap: wrap;
       
    }
    .info-cart {
        display: inline-flex;
        
    }
    .liknande {
        text-align: center;
    }
    .color {
        display: none;
    }
    
}   

body {
    font-size: 1.5em;
}

@media (min-width: 1024px) {
    .products {
        grid-template-columns: repeat(4, 1fr);
    }

    body {
        font-size: 1em;
    }

    .listan {
        display: flex;
    }

    li {
        display: inline;
        margin-right: 5px;
    }

    .hide-on-mobile {
        display: inline-block;
    }

    .head {
        flex-direction: row-reverse;
    }
    .mid {
        font-size: medium;
    }
    .info {
        display: flex;
       
        margin-top: 20px;
    
        p{
            margin: 0;
            margin-left: 10px;
        
        }
    }
    .All-info {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: nowrap;
    }
    .color {
        display: none;
    }
}









/*
här för Nyproduckt sidan
*/


.slide-item {
    display: flex;
    flex-direction: row;
    gap: 20px
}

.slide-image {
    width: 32%;
    margin: auto;
}

header>h3 {
    position: absolute;
    left: 10px;
    bottom: auto;
}

.vänster {
    display: grid;
    grid-template-rows: 100%;
    background-color: gray;
}

.w-100 {
    width: 100%;
}




/*
kassa sidan 
*/
.Kassa {
    text-align: center;
}


table, th, td {
    border:1px solid black;
    border-collapse: collapse;
}




.buy>button {
    display: grid;
    align-items: center;
    width: 80px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    margin-left: 50%;
    font-weight: bold;
    border-radius: 10px;

}



.custom.btn-success {
    color: red;
}

.no-space {
    margin: 0;
    padding: 0;
    border: ;
    border-top: 1px solid black;
    /* Valfri färg eller stil på linjen */
}

.normal-footer {
    padding: 15px;
    background-color: rgb(207, 206, 206)
}

.list-container {
    display: inline-flex;
    justify-content: space-between;
    gap: 200px;
    
}

.list {
    display: flex;
    flex-direction: column;  
}

.list h3 {
    margin-bottom: 20px;
}

.list li {
    list-style-type: none;   
}

ul {
    list-style-type: none;
}






/*
Administration 
*/

.AD {
    background-color: black;
    color: white;
    
}

.AD-main {
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.PR {
    background-color: rgb(209, 209, 208);
    height: 100%;
    width: 150px;
    

    p {
        margin: 0;
    }
}

.AD-section {
    margin-left: 20px;
}

.AR {
    position: relative;
    ;
    left: 200px;
    top: -40px;

}

.Company {
    text-align: center;

}
.prise {
    display: flex;
    justify-content: space-between;
    
   
}

.Levis {
    font-weight: 100;
    font-family:monospace;
    margin-bottom: 20px;
}
.accordion-body {
    list-style-type: none;
    li {
        margin-bottom: 10px;
    }
}
.accordion-button {
    font-weight: bold;
}